body {
	background-color: #C6D0EC;
	text-align: center;
	font-family: Helvetica;
}

header {
	text-align: center;
	background-color: #FFF8F0;
	display: inline-block;
	width: 100%;
	margin: -1em;
	padding-right: 2em;
	padding-left: .5em;
	padding-bottom: 1em;
	-webkit-box-shadow: 0 6px 3px #CCC6C0;
        	-moz-box-shadow: 0 6px 3px #CCC6C0;
                box-shadow: 0 6px 3px #CCC6C0;
}

h4 {
	margin-top: -1.5em;
}

nav {
	display: block;
	text-align: center;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: -1em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

li {
	display: inline-block;
	width: 10em;
}

article {
	width: 80%;
	max-width: 50em;
	background-color: #FFF8F0;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-top: -.5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 1em;
	border-style: solid;
	border-color: #FFF8F0;
	border-width: .5em;
	border-radius: 1em;
	border-color: #FFF8F0;
	-webkit-box-shadow: 0 6px 3px #CCC6C0;
        	-moz-box-shadow: 0 6px 3px #CCC6C0;
                box-shadow: 0 6px 3px #CCC6C0;
}

a {
	display: block;
	color: #000;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: #C6D0EC;
}

nav {
	display: inline;
	text-align: center;
}

table {
	margin-right: auto;
	margin-left: auto;
}

.ian img {
	width: 31em;
    background-color: #FFF8F0;
	margin: .5em;
		-webkit-box-shadow: 0 6px 3px #CCC6C0;
        	-moz-box-shadow: 0 6px 3px #CCC6C0;
                box-shadow: 0 6px 3px #CCC6C0;
	border-style: solid;
	border-width: .5em;
	border-radius: 1em;
	border-color: #FFF8F0

}

.page-links img {
	width: 15em;
	height: 9em;
    background-color: #FFF8F0;
	margin: .5em;
		-webkit-box-shadow: 0 5px 3px #CCC6C0;
        	-moz-box-shadow: 0 5px 3px #CCC6C0;
                box-shadow: 0 5px 3px #CCC6C0;
	border-style: solid;
	border-width: .5em;
	border-radius: 1em;
	border-color: #FFF8F0
}

.social-links img {
	width: 7em;
	margin: 1.5em;
}

.reduce_space {
	margin: -2em;
}